div.col.s10.offset-s1
    h1.section-header.center.padding-top-5 Contact
    span.funny-sentance If for any reason you'd like to contact me for business inquiries or just to know more about me, you can contact me at
    span.funny-words   778.558.0639
    span.funny-sentance   or email me at
    span.funny-words  dannyhaitran@outlook.com
    span.funny-sentance  . Email is preferred.