h1.center.section-header.padding-top-7.margin-down-none Info
    div.row.col.s12.margin-down-none
        div.col.s12.m6.offset-m3.l4
            div.col.s10.offset-s1.center
                div.card
                    div.card-image
                        img(src="img/info/1.jpg").info-img
                p A graduate from British Columbia Institute of Technology out of the Computer System Technology program, I learned the basics of software development, hardware, database, and standard techniques to jump-start my career in web development
        div.col.s12.m6.offset-m3.l4
            div.col.s10.offset-s1.center
                div.card
                    div.card-image
                        img(src="img/info/2.jpg").info-img
                p I've had plenty of opportunties to work with industry clients where I applied all my knowledge and ship products under intense pressure and time constraints
        div.col.s12.m6.offset-m3.l4
            div.col.s10.offset-s1.center
                div.card
                    div.card-image
                        img(src="img/info/3.jpg").info-img
                p I've been an athlete ever since I was a toddler. Always willing to try something new. Climbing walls and biking are my preffered ways to get around. A lover of all ball sports including bowling.