h1.center.section-header.padding-top-7.margin-down-none Info
    div.row.col.s12.margin-down-none
        div.col.s12.m6.offset-m3.l4
            div.col.s10.offset-s1.center
                div.card
                    div.card-image
                        img(src="img/info/1.jpg").info-img
                p An aspiring developer who enjoys creating applications and beautiful websites using the next century technologies. I've had the opportunity to deal with many industry clients, start-ups, and personal projects that have taught me the basic fundamentals of how to work in a team and
        div.col.s12.m6.offset-m3.l4
            div.col.s10.offset-s1.center
                div.card
                    div.card-image
                        img(src="img/info/2.jpg").info-img
                p I graduated from British Columbia Institute of Technology from the Database option where I began my career as a developer. I picked up a wide variety of languages and now i've focused on front end development. During my years at BCIT, I got the option to travel to China to teach programming to students and learn about their culture.
        div.col.s12.m6.offset-m3.l4
            div.col.s10.offset-s1.center
                div.card
                    div.card-image
                        img(src="img/info/3.jpg").info-img
                p I've been an athlete ever since I was a toddler. Always willing to try something new. Climbing walls and biking are my preffered ways to get around. A lover of all ball sports including bowling. When i'm not designing sites, you'll find me looking for movies or looking for a tree to climb.