#projects
  min-height: 100vh
  h1
    color: $primary-color
  .panel
    background-color: white
    min-height: 100px
  .panel-heading
    background-color: white
    span
      font-size: 2em
      font-weight: 100
    img
      height: 70px
      width: 70px
      border-radius: 50px
  .panel-heading:hover
    background-color: $primary-color
    transition: all 0.3s ease
  .panel-body
    p
      font-size: 1.7em
      font-weight: 100
  a
    text-decoration: none
@media (width: 800px)
  #projects
  h1
  .panel
    span
      font-size: 2em
      font-weight: 100
    img
      height: 70px
      width: 70px
      border-radius: 50px
  .panel-body
    p
      font-size: 1.7em
      font-weight: 100
